.classpath
*iml
target
.project
.settings/
bin/.jetty
bin/conf
bin/jettyctl
.classpath
.idea/
*.iml
target
.classpath
.project
.settings/
.settings
bin/.jetty
.classpath
*/applicationContext.properties
